button{
    margin-top : 2rem;
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    border : none;
    box-shadow : 0 4px 6px 0 black;
}

#btn1{
    background-color: #832fd1;
    color: white;
}

#btn2{
    background-color: #d13a2f;
    color: white;
}

#btn3{
    background-color: #2044e4;
    color: white;
}

#btn4{
    background-color: #f4f73e;

}

#btn5{
    background-color: #32be0f;
    color: white;
}